<% provide(:title, "Contact") %>

<div class="row">
  <div class="col-sm-4">
    <div class="card text-center">
        <%= link_to image_tag("ashwini.JPG", alt: "WYWB logo", height: 250, width: 200), '#' %>
      <div class="card-body">
        <h5 class="card-title">Ashwini Patil</h5>
        <p class="card-text">Email - a_patil@ucsb.edu </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center">
        <%= link_to image_tag("chandana.jpg", alt: "WYWB logo", height: 250, width: 200), '#' %>
      <div class="card-body">
        <h5 class="card-title">Chandana Upadhyaya</h5>
        <p class="card-text">Email - chandanaupadhyaya@ucsb.edu </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card text-center">
        <%= link_to image_tag("SaiNikhilMaram.png", alt: "WYWB logo", height: 250, width: 200), '#' %>
      <div class="card-body">
        <h5 class="card-title">Sai Nikhil Maram</h5>
        <p class="card-text">Email - sailnikhilmaram@ucsb.edu </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center">
        <%= link_to image_tag("Santha.png", alt: "WYWB logo", height: 250, width: 200), '#' %>
      <div class="card-body">
        <h5 class="card-title">Santha Meena Ramamurthy</h5>
        <p class="card-text">Email - santhameena@ucsb.edu </p>
      </div>
    </div>
  </div>
</div>
