<% provide(:title, "Help") %>

<div class="row">
  <div class="col-md-6">
    <div class="card-header bg-info text-white text-center">
    <h5>WhereYouWannaBe</h5>
  </div>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">GitHub - github.com/scalableinternetservices/WhereYouWannaBe</h5>
        <p class="card-text"><i>All help information can be found in the GitHub ReadMe</i></p>
      </div>
    </div>
  </div>
</div>