<% if @user.errors.any? %>
    <div class="alert alert-danger">
      <%= pluralize(@user.errors.count, "error") %> prohibited this action!
      <ul style="list-style: none;">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
<% end %>
