<div class="row">
<div class = "col-sm-3"></div>
<h1>Who's Attending Upcoming Events?</h1>
<table class="table table-striped col-sm-9">
  <thead class = "bg-info text-white">
    <tr>
      <th>Event</th>
      <th>Attendee</th>
      <th>Guests</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.event.title %></td>
        <td><%= attendee.user.name %></td>
        <td><%= attendee.guests_count %></td>
        <% if current_user.admin? %>
          <td><%= link_to 'Delete', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
