<p id="notice"><%= notice %></p>

<a href="#" id="addTag" class="btn btn-success active float-right">New Tag</a>

<% @tags.each do |tag| %>
<div class="card text-center" style="width: 18rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-header bg-info text-white">
    <h5><%= tag.name %></h5>
  </div>
  <div class="card-body">
    <p class="card-text"><%= tag.description %></p>
    <%= link_to "See Events", events_path(:tag_id=>tag.id), class:'btn btn-primary active' %>
  </div>
</div>
<br>
<% end %>