// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// form {
//   font-size: 12px;
//   font-family: serif;
// }
button {
	outline: none !important;
	border: none;
	background: transparent;
}
input {
  border: 1px solid black;
  border-radius: 4px;
}
