<footer class="footer">
  <small>
    The WhereYouWannaBe for CS291A 2018</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>