<header class="navbar-fixed-top navbar-default">
      <div class="container">
        <%= link_to image_tag("WYWB.png", alt: "WYWB logo", height: 80, width: 150),
            root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Help",   help_path %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
</header>